.Viewer_Container {
  height: 90vh;
  overflow-y:scroll;
}

.Viewer_Queue {
  padding-top:2vh;
}

.playlist_item {
  border-radius: 0 !important;
  display: inline !important;
}

.SearchBar {
  padding-top:2vh;
}

.PlayList_Container {
  /** background-color: #40ABA6; **/
  height:90vh;
  overflow-y: scroll;
}

.BeSocial_Container {
  overflow-y: scroll;
}

body {
  /**background-color: #45B8B3; **/
}
